.App{
  margin: 0;
  padding: 0;
  }
  :root {
    --background-first-color: #00050D;
    --background-color:#14141480;
    --background-button-color: #e0f004;
    --background-second-button-color: #e2f864;
    --background-display-color: #ffffff6e;
    --first-color: #fffcfc;
    --second-color:#ffffff;
  }
  body{
    background-color: var(--background-first-color);
    background-size: cover;
    background-position: center; 
  }
  
  .text-color{
    color: var(--first-color);
    
  }
  
  .text-center{
    text-decoration:dotted;
      
  }
  .bg-color{
    background-color: var(--background-first-color);
  }
  
  