  
  body{
    background-color: var(--background-first-color)!important;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background-size: cover;
    background-position: center; 
  }